.bg1{
  /*background-color: #32bb8e;*/
  background-color: #222222;
}

.bg2{
  /*background-color: #45a1cf;*/
  background-color: #1b1b1b;
}

.bg3{
  /*background-color: #852fa3;*/
  background-color: #2d2d2d;
}

h1 {
  font-family: 'Lobster', cursive;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

body {
  font: 20px "Montserrat", sans-serif;
  line-height: 1.8;
  background-color: #000000;
  color: #cfcfcf;
}

.margin {
  margin-bottom: 45px;
}
