<!DOCTYPE html>
<html>
  <head>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- YOUTUBE-API -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <!-- ANGULAR.JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- DUDJ -->
    <link rel="stylesheet" href="css/main.css">
    <script src="app/app.js"></script>
  </head>
  <body ng-app="DUDJ">
    <div class="container-fluid text-center bg1" style="height:300px">
      <h1>DUDJ pre-pre-Alpha</h1>
      <h2>Uz bez tresky</h2>
    </div>
    <div class="container-fluid text-center bg2" ng-controller="PlayerController as playerController">
      <div id="player"></div>
    </div>
    <div class="container-fluid text-center bg3">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group" ng-controller="PlaylistController as playlistController">
            <li class="list-group-item" ng-repeat="song in playlist"><img width="128px" height="72px" src="{{song.thumbnailUrl}}"><h3>{{song.title}}</h3></li>
          </ul>
        </div>
        <div class="col-md-6" ng-controller="SubmitSongController as submitSongController">
          <input ng-model="songURL" type="text" value="" class="input-lg">
          <input ng-click="submitSong()" type="button" value="SUBMIT" class="btn">
        </div>
      </div>
    </div>
  </body>
</html>
