<div class="container-fluid text-center bg1">
  <h1><a href='#/'>{{dudjHeader}}</a></h1>
  <h2>{{dudjMOTD}}</h2>
</div>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4 text-center bg2 rounded">
      <div class="form-group" ng-controller="CreateRoomController as createRoomController">
        <label>Room name:</label>
        <input type="text" ng-model="roomName" class="form-control">
        <button type="button" ng-click="submitRoomInfo()" class="btn btn-primary btn-block">Create Room</button>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 text-center bg3 rounded" ng-controller="RoomListController as roomListController">
      <label>Rooms list:</label>
      <div class="list-group roomlist">
        <a ng-repeat="room in roomList" class="list-group-item roomlist-room" href="#/room/{{room.id}}"><h3><span class="glyphicon glyphicon-play pull-left"></span>{{room.name}}</h3></a>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
