<div class="container-fluid text-center bg1">
  <h1><a href='#/'><img src="../img/logo.png" class="img" width="25%" height="25%"></a></h1>
  <h2>{{MOTD}}</h2>
  <br>
  <img src="../img/arrow.png" class="img">
</div>
<div class="container-fluid delimiter"></div>
<div class="container-fluid">
  <div class="col-md-4 col-md-offset-4 text-center bg2 rounded">
    <div class="form-group" ng-controller="CreateRoomController as createRoomController">
      <label>Create video room:</label>
      <input type="text" ng-model="roomName" placeholder="Room name" class="form-control">
      <button type="button" ng-click="submitRoomInfo()" class="btn btn-primary btn-block">Create Room</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="roomlist-container col-md-8 col-md-offset-2 text-center bg3 rounded" ng-controller="RoomListController as roomListController">
    <label>Current video rooms:</label>
    <div class="list-group two-col-special roomlist">
      <a ng-repeat="room in roomList" class="list-group-item roomlist-room sharp" href="#/room/{{room.id}}"><img src="../img/play-button.png" alt="play" class="img pull-left"><h3>{{room.name}}</h3></a>
    </div>
  </div>
</div>
