<div class="container-fluid text-center bg1">
  <h1><a href='#/'><a href='#/'><img src="http://dudoserver.1sg.sk/dudj-html/img/dudj-logo-alpha.png" class="img" width="25%" height="25%"></a></h1>
  <h2>{{roomInfo.name}}</h2>
  <br>
  <img src="http://dudoserver.1sg.sk/dudj-html/img/arrow.png" class="img">
</div>
<div class="container-fluid delimiter"></div>
<div class="container-fluid text-center bg2">
  <div class="row">
    <div class="col-md-3 form-group" ng-controller="SubmitSongController as submitSongController">
      <label>Add song:</label>
      <input ng-model="songURL" type="text" placeholder="Youtube link: https://" class="input-md form-control">
      <hr>
      <button ng-click="submitSong()" type="button" class="btn btn-success btn-block">Submit</button>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <div id="player"></div>
      </div>
    </div>
    <div class="col-md-3">
      <nav class="navbar">
        <ul class="list-group">
          <li class="list-group-item playlist-song" ng-repeat="song in playlist">
            <img src="{{song.thumbnailUrl}}">
            <h3 style="z-index: 2">{{song.title}}</h3>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
